[versions]
kotlin = "1.9.21"
ktfmt = "0.46"
jdk = "20"
# lint checks must target JDK 17, but the runtime should remain 11
lintJvmTarget = "17"
runtimeJvmTarget = "11"
lint = "31.3.0-alpha05"

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.23.4" }
dokka = { id = "org.jetbrains.dokka", version = "1.9.10" }
lint = { id = "com.android.lint", version = "8.1.4" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version = "1.9.20-1.0.14" }
mavenPublish = { id = "com.vanniktech.maven.publish", version = "0.25.3" }
mavenShadow = { id = "com.github.johnrengelman.shadow", version = "8.1.1" }
spotless = { id = "com.diffplug.spotless", version = "6.22.0" }

[libraries]
autoService-annotations = "com.google.auto.service:auto-service-annotations:1.1.1"
autoService-ksp = "dev.zacsweers.autoservice:auto-service-ksp:1.1.0"
junit = "junit:junit:4.13.2"
kotlin-metadata = { module = "org.jetbrains.kotlinx:kotlinx-metadata-jvm", version = "0.7.0" }
ktfmt = { module = "com.facebook:ktfmt", version.ref = "ktfmt" }
eithernet = "com.slack.eithernet:eithernet:1.6.0"
retrofit = "com.squareup.retrofit2:retrofit:2.9.0"
lint-api = { module = "com.android.tools.lint:lint-api", version.ref = "lint" }
lint-checks = { module = "com.android.tools.lint:lint-checks", version.ref = "lint" }
lint = { module = "com.android.tools.lint:lint", version.ref = "lint" }
lint-tests = { module = "com.android.tools.lint:lint-tests", version.ref = "lint" }
lint-testUtils = { module = "com.android.tools:testutils", version.ref = "lint" }

[bundles]
lintApi = ["lint-api", "lint-checks"]
lintTest = ["lint", "lint-tests", "lint-testUtils"]
