name: CI

on:
  # Only run push on main
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  # Always run on PRs
  pull_request:

concurrency:
  group: '${{ github.head_ref }}-${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.ci_lint_version }} / JDK ${{ matrix.ci_java_version }} / Kotlin ${{ matrix.ci_kotlin_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ci_java_version: ['17']
        ci_lint_version: ['30.1.2', '30.2.0-beta04', '30.3.0-alpha07']
        ci_kotlin_version: ['1.6.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

      - name: Generate cache key
        run: ./.github/checksum.sh checksum.txt

      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.job }}-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.job }}-

      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.ci_java_version }}

      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: spotlessCheck compileKotlin compileTestKotlin --stacktrace -PlintVersion=${{ matrix.ci_lint_version }} -PkotlinVersion=${{ matrix.ci_kotlin_version }}

      # Test only on current stable because test outputs change wildly between lint versions
      - name: Check
        if: matrix.ci_lint_version == '30.1.2'
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check --stacktrace -PlintVersion=${{ matrix.ci_lint_version }} -PkotlinVersion=${{ matrix.ci_kotlin_version }}

      - name: (Fail-only) Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: error-report
          path: build-reports.zip
